body {
  background: #333 !important;
  color: #ddd;
}

a, a:active, a:hover, a:visited {
  text-decoration: none;
  color: #ddd;
}

.products-title-container p b {
  color: #fff;
}

.about-steemhunt .right .sub-title {
  color: #ddd;
}